[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = tag/v2.2.1
[submodule "libs/miniz-cpp"]
	path = libs/miniz-cpp
	url = https://github.com/tfussell/miniz-cpp.git
[submodule "libs/cpp-httplib"]
	path = libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
